
body {
    /* This code for the "Abstract Envelope" background is copied directly from SVGBackgrounds.com (free with attribution).*/
    background-color: #77aa77;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%2377aa77'/%3E%3Cstop offset='1' stop-color='%234fd'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1'%3E%3Cstop offset='0' stop-color='%23cf8' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23cf8' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2'%3E%3Cstop offset='0' stop-color='%23cf8' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23cf8' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    }

h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 6vw;
    color: #ffffac;
    text-align: center;
}

#instructions {
    font-family: 'Play', sans-serif;
    font-size: 2vw;
    color: #ffffac;
    background-color:black;
    text-align: center;
    padding: 20px 40px
}

#double-horizontal-rule {
	border-top: 3px double black;
}

p {
    font-family: 'Play', sans-serif;
    font-weight: bold;
    color:  #ffffac;
    font-size: 15px;
    margin-top: 10px;
}

#form-instruction{
    font-family: 'Play', sans-serif;
    font-size: 100%;
    font-weight: bold;
    color: black;
}

.btn-lg {
    font-family: 'Play', sans-serif;
    background-color: black;
    color: white;
}

.btn-lg:hover{
    color: #ffffac;
    background-color: gray;
}

.btn-lg:focus{
    color: black;
    background-color:#ffffac;
}

#submit {
    color: black;
    font-weight: bold;
    background-color: #ffffac;
    margin-top: 5px;
}

#submit:hover {
    background-color: gray;
}

.new-reaction-category{
	margin: .5vh 1vw;
}

.individual-gif-container{
	float: left;
	margin: 2vh 3vw 2vh 3vw;
}

.ridged-border{
    border: 4mm ridge #ffffac;
    min-width: 400px;
    margin-top: 20px;
}

.gif-image{
	margin-top: 1vh;
    margin-bottom: 1vh;
    max-width: 320px;
}

.footer {
    font-family: 'play', cursive;
    font-style: italic;
    font-size: 1.5vw;
    color: green;

}